<html>
{{template "base" .}}
  <body>
    <div>
      {{template "header" .}}
    </div>
    <div class="card" style="margin: 15px;">
      {{template "tab" .}}
      <div class="card-body">
        {{if eq .select "recipe"}}
        {{template "recipe".}}
        {{else if eq .select "principle"}}
        {{template "principle".}}
        {{end}}
      </div>
    </div>
  </body>
</html>