<html>
  {{template "base" .}}
  <body>
    {{template "header" .}}
    {{if eq .step 1 }}
      {{template "form" .}}
    {{else if eq .step 2 }}
      {{template "explain" .}}
    {{else if eq .step 3 }}
      {{template "work" .}}
    {{end}}
    </body>
  </html>